<.header>
  Room <%= @room.id %>
  <:subtitle>This is a room record from your database.</:subtitle>
</.header>

<.list>
  <:item title="Name"><%= @room.name %></:item>
</.list>

<.back navigate={~p"/rooms"}>Back to rooms</.back>

<.form for={@form} phx-submit="send_message">
  <.input type="text" field={@form[:content]} />
  <button>Save</button>
</.form>
